*,
::before,
::after {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}

body {
  padding-top: 60px;
  padding-bottom: 50px;
  background-image: url(./depositphotos_8138615-stock-photo-old-style-phone-over-yellow.jpg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 14% 30%;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
