.contactsList {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.phoneNumber {
  margin-left: auto;
  font-weight: 400;
  color: blue;
}
.contactName {
  font-weight: 500;
}
.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 320px;
}

.listItem:not(:last-child) {
  margin-bottom: 10px;
}

.buttons {
  margin-left: auto;
}
